.app-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}